[submodule "external/node-config"]
	path = external/node-config
	url = git://github.com/ArtS/node-config.git
[submodule "external/connect-mongodb"]
	path = external/connect-mongodb
	url = http://github.com/masylum/connect-mongodb.git
[submodule "external/node-mongodb-native"]
	path = external/node-mongodb-native
	url = http://github.com/christkv/node-mongodb-native.git
[submodule "external/connect"]
	path = external/connect
	url = http://github.com/senchalabs/connect.git
[submodule "external/ejs"]
	path = external/ejs
	url = git://github.com/visionmedia/ejs.git
[submodule "external/node-oauth"]
    path = external/node-oauth
    url = http://github.com/ciaranj/node-oauth.git
[submodule "external/node-comet"]
	path = external/node-comet
	url = https://github.com/eculver/node_comet.git
[submodule "external/underscore"]
	path = external/underscore
	url = http://github.com/documentcloud/underscore.git
[submodule "external/node-chain"]
	path = external/node-chain
	url = git@github.com:ArtS/node-chain.git
[submodule "external/socket.io-connect"]
    path = external/socket.io-connect
    url = https://github.com/bnoguchi/Socket.IO-connect.git
