/*-  BASE STYLES
----------------------------------------------------------------------*/

/*- self-clearing floats ----------*/

.mod:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/*- fluid images and objects ----------*/

img,
object,
embed {max-width: 100%;}


/*- optional vanity styles ----------*/

::selection {background: #c80000;}
::-moz-selection {background: #c80000;}

img::selection {background: transparent;}
img::-moz-selection {background: transparent;}

@media only screen and (max-device-width: 480px) {

	html {-webkit-text-size-adjust: none}
	a {-webkit-tap-highlight-color: rgba(200,0,0,0.4);}

}

/*- Paul Irish's Bulletproof @font-face syntax: http://mky.be/font-face/bulletproof/ ----------*/

@font-face {
  font-family: 'Graublau Web';
  src: url('GraublauWeb.eot');
  src: local('☺'),
         url('GraublauWeb.woff') format('woff'), url('GraublauWeb.ttf') format('truetype');
}


/*- LET'S GET STARTED!
----------------------------------------------------------------------*/

.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}


body {
	background-color: #e8e8e8;
	color: #3c3c3c;
	font: 16px/1.5 "skolar-1","skolar-2",Georgia,serif;
	margin: 0 auto;
	padding: 5px 25px 0;
    width: 100%;
}


abbr {
	cursor: help;
}

a:visited {
    color: gray;
}

a {
    color: darkgray;
}

h1, h2, h3, h4, h5, h6, nav {
    font-family: "etica-1", "etica-2",Helvetica,Arial,sans-serif;
}

h1, .tagline p {
}

header h1, header h2, header h3, article h1 {
    color: #171717;
}

header h1, header h2, header h3 {
    text-align: left;
    letter-spacing: 2px;
    font-weight: bold;
}

header h1 {
    font-size: 74px;
    line-height: 86px;
}

header h2 {
    font-size: 24px;
    line-height: 45px;
}

header h3 {
    font-size: 16px;
    line-height: 22px;
}

footer.copyright {
    margin: 20px 0px 20px 0px;
}

/*
 * Navigation
 */

nav {
    padding: 8px 0px;
    margin: 0px 0px 5px 0px;
    background: lightgray;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

nav ul li {
    font-size: 15px;
    letter-spacing: 0.7px;
    line-height: 18px;
}

nav ul li {
    color: white;
    background: gray;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

nav ul li {
    float: left;
    list-style: none;
    padding: 2px 6px;
    margin: 0px 5px 0px 5px;
}

/*
 * End Navigation 
 * /


/*
 * Column sections
 */

section.categories {
    padding-top: 7px;
}

section.category header {
    margin: 0px 0px 10px 0px;
}

section.category {
    margin: 0px 12px 0px 0px;
    padding: 4px 12px 20px 10px;
}

section.category {
    border-radius: 10px;
    -moz-border-radius: 10px;
    background: lightgray;
}

.tagline p {
    font-weight: 300;
}

.tagline p {
    text-align: left;
    font-size: 32px;
    line-height: 30px;
    letter-spacing: -1px;
}

/*
 * Links
 */

.action a {
    border: 0px;
    padding: 50px 0;
}

a.action-link {
    display: block;
}

.author a {
    color: gray;
    text-decoration: none;
}

a.tiny-action {
    font-size: 10px;
    letter-spacing: 0.7px;
}

/* end Links */

/*
 * Lists
 */

ul.list-tweets {
}

li.list-item-tweet {
    margin: 0px 0px 23px 0px;
    font-size: 13px;
    line-height: 16px;
}

ul.list-tweets li.list-item-tweet {
    list-style: none;
}

/*
 * End Lists
 */


p small {
    font-size: 13px;
}

div.tweets-loading {
    background: url('/media/img/ajax-loader.gif') no-repeat 3px center;
    height: 50px;
}
