<!DOCTYPE html>

<html lang="en" class="no-js">
<!-- the "no-js" class is for Modernizr. -->

<head class="html5reset-kitchensink-commented">

	<meta charset="utf-8" />
	
	<!-- This prevents the conditional comments below from holding up the page load
		 www.phpied.com/conditional-comments-block-downloads/ -->
	<!--[if IE]><![endif]-->
	
	<title>NimbleGecko</title>
	
	<meta name="description" content="NimbleGecko helps you to cut through the enourmous amount of information by sorting and prioritising your tweets." />
	<!-- Google will often use this as its description of your page/site. Make it good. -->
	
	<meta name="author" content="NimbleGecko" />
	<meta name="Copyright" content="Copyright NimbleGecko 2010. All Rights Reserved." />

	<meta name="DC.title" content="NimbleGecko" />
	<meta name="DC.subject" content="NimbleGecko helps you to cut through the enourmous amount of information by sorting and prioritising your tweets." />
	<meta name="DC.creator" content="NimbleGecko" />
	
	<meta name="google-site-verification" content="" />
	<!-- Speaking of Google, don't forget to set your site up: http://google.com/webmasters -->
	
	<link rel="shortcut icon" href="/media/img/favicon.png"/>
	<!-- This is the traditional favicon.
		 - size: 16x16 or 32x32
		 - transparency is OK
		 - see wikipedia for info on browser support: http://mky.be/favicon/ -->
	
	<link rel="apple-touch-icon" href="/media/img/custom/mediaicon.png"/>
	<!-- The is the icon for iOS's Web Clip.
		 - size: 57x57 for older iPhones, 72x72 for iPads, 114x114 for iPhone4's retina display (IMHO, just go ahead and use the biggest one)
		 - To prevent iOS from applying its styles to the icon name it thusly: apple-touch-icon-precomposed.png
		 - Transparency is not recommended (iOS will put a black BG behind the icon) -->

	<link rel="stylesheet" href="/media/css/main.css" />
	<!-- main.css is a gateway file. You will spend your time in core.css -->
	
	<link rel="stylesheet" href="/media/css/mediaprint/main.css" media="print" />
	
	<!-- These are IE-specific conditional style sheets. 
		 You might consider removing the ones you don't end up using. -->
		 
	<!--[if IE]>
	<link rel="stylesheet" href="/media/css/patches/win-ie-all.css" />
	<![endif]-->
	<!--[if IE 7]>
	<link rel="stylesheet" href="/media/css/patches/win-ie7.css" />
	<![endif]-->
	<!--[if lt IE 7]>
	<link rel="stylesheet" href="/media/css/patches/win-ie-old.css" />
	<![endif]-->
	
	<!-- The following is STRONGLY OPTIONAL, but useful if you really need to kick IE in the pants.
		 There are different flavors; pick the one right for your project: http://code.google.com/p/ie7-js/ -->
	<!--[if lt IE 8]>
	<script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE8.js"></script>
	<![endif]-->
	
	<!-- jQuery -->
    <!--
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="/media/js/functions.js"></script>
    -->

	<!-- Either Modernizr OR the HTML5 Shiv script is required if you want IE compatability, AND you want to use the new, 
		 more-semantic HTML5 elements (header, article, footer, etc) 
		 - we've only included Modernizr; HTML5 Shiv can be found here: http://html5shiv.googlecode.com -->
	
	<!-- MODERNIZR: http://www.modernizr.com/
		 If you're using this, you don't need the HTML5 Shiv script below -->   
    <!-- <script src="/media/js/modernizr-1.5.min.js"></script> -->
	
	<!-- don't forget Google Analytics -->

</head>

<body id="www-domain-com">

<div>

	<article>
        <section>
            <header>
                <h2>Tweets</h2>
            </header>

            <% 
            var tweet,
                length_cat = cat_names.length,
                length_j,
                category,
                i = 0,
                j;
            %>

            <section class="nav">
                <ul>
                    <% for (i = 0; i < length_cat; i++) { %>
                    <li><%= cat_names[i] %>&nbsp;(<%= tweets[cat_names[i]].unread_count %>)</li>
                    <% } %>
                </ul>
                <div class="clear"></div>
            </section>

            <section class="categories">
            <% 
                for (i = 0; i < length_cat; i++) {
                    category = cat_names[i];
                    is_visible = tweets[category].unread_count != 0;
            %>
            <section class="category" <% if (!is_visible) { %>style="display: none"<% } %>>

                        <header>
                            <div class="left">
                                <h3><%= cat_names[i] %></h3>
                            </div>
                            <div class="right">
                                <a class="tiny-action" href="/action/mark-all-read/<%= cat_names[i]%>">[mark all read]</a>
                            </div>
                            <div class="clear"></div>
                        </header>

                        <% 
                        category = tweets[cat_names[i]];
                        length_j = category.length;
                        for (j = 0; j < length_j; j++) { 
                            tweet = category[j];
                            %>
                            <div class="tweet">
                                <span class="text"><%- tweet.escaped_text %></span>
                                <% if (tweet.user !== undefined) { %>
                                <span class="author">
                                    <a href="http://twitter.com/<%= tweet.user.screen_name %>/statuses/<%= tweet.id %>">@<%= tweet.user.screen_name %></a>
                                </span>
                                <% } %>
                            </div>
                        <% } %>
                    </section>
                <% } %>
                <div class="clear"></div>
            </section>

        </section>
	</article>
	
	<footer>
		
		<p><small>&copy; Copyright NimbleGecko 2010. All Rights Reserved.</small></p>
		
	</footer>

</div>

</body>
</html>
