<!DOCTYPE html>

<html lang="en" class="no-js">
<!-- the "no-js" class is for Modernizr. -->

<head class="html5reset-kitchensink-commented">

	<meta charset="utf-8" />
	
	<!-- This prevents the conditional comments below from holding up the page load
		 www.phpied.com/conditional-comments-block-downloads/ -->
	<!--[if IE]><![endif]-->
	
	<title>NimbleGecko</title>
	
	<meta name="description" content="NimbleGecko helps you to cut through the enourmous amount of information by sorting and prioritising your tweets." />
	<!-- Google will often use this as its description of your page/site. Make it good. -->
	
	<meta name="author" content="NimbleGecko" />
	<meta name="Copyright" content="Copyright NimbleGecko 2010. All Rights Reserved." />

	<meta name="DC.title" content="NimbleGecko" />
	<meta name="DC.subject" content="NimbleGecko helps you to cut through the enourmous amount of information by sorting and prioritising your tweets." />
	<meta name="DC.creator" content="NimbleGecko" />
	
	<meta name="google-site-verification" content="" />
	<!-- Speaking of Google, don't forget to set your site up: http://google.com/webmasters -->
	
	<link rel="shortcut icon" href="/media/img/favicon.png"/>
	<!-- This is the traditional favicon.
		 - size: 16x16 or 32x32
		 - transparency is OK
		 - see wikipedia for info on browser support: http://mky.be/favicon/ -->
	
	<link rel="apple-touch-icon" href="/media/img/custom/mediaicon.png"/>
	<!-- The is the icon for iOS's Web Clip.
		 - size: 57x57 for older iPhones, 72x72 for iPads, 114x114 for iPhone4's retina display (IMHO, just go ahead and use the biggest one)
		 - To prevent iOS from applying its styles to the icon name it thusly: apple-touch-icon-precomposed.png
		 - Transparency is not recommended (iOS will put a black BG behind the icon) -->

	<link rel="stylesheet" href="/media/css/main.css" />
	<!-- main.css is a gateway file. You will spend your time in core.css -->
	
	<link rel="stylesheet" href="/media/css/mediaprint/main.css" media="print" />
	
	<!-- These are IE-specific conditional style sheets. 
		 You might consider removing the ones you don't end up using. -->
		 
	<!--[if IE]>
	<link rel="stylesheet" href="/media/css/patches/win-ie-all.css" />
	<![endif]-->
	<!--[if IE 7]>
	<link rel="stylesheet" href="/media/css/patches/win-ie7.css" />
	<![endif]-->
	<!--[if lt IE 7]>
	<link rel="stylesheet" href="/media/css/patches/win-ie-old.css" />
	<![endif]-->
	
	<!-- The following is STRONGLY OPTIONAL, but useful if you really need to kick IE in the pants.
		 There are different flavors; pick the one right for your project: http://code.google.com/p/ie7-js/ -->
	<!--[if lt IE 8]>
	<script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE8.js"></script>
	<![endif]-->
	
    <script src="/media/js/jquery-1.4.4.min.js"></script>
    <script src="/media/js/underscore.js"></script>
    <script src="/media/js/backbone.js"></script>
	<script src="/media/js/pure/pure_packed.js"></script>
    <script src="/media/js/socket.io/socket.io.js"></script>

	<!-- Either Modernizr OR the HTML5 Shiv script is required if you want IE compatability, AND you want to use the new, 
		 more-semantic HTML5 elements (header, article, footer, etc) 
		 - we've only included Modernizr; HTML5 Shiv can be found here: http://html5shiv.googlecode.com -->
	
	<!-- MODERNIZR: http://www.modernizr.com/
		 If you're using this, you don't need the HTML5 Shiv script below -->   
    <!-- <script src="/media/js/modernizr-1.5.min.js"></script> -->
	
	<!-- don't forget Google Analytics -->

</head>

<body id="www-domain-com">

    <div id="templates" style="display: none;">
        <div id="sectionTemplate">

            <section class="category">
                <header>
                    <div class="left">
                        <h3></h3>
                    </div>
                    <div class="right">
                        <a class="tiny-action" href="#actions/mark-read/">[mark all read]</a>
                    </div>
                    <div class="clear"></div>
                </header>

                <ul class="list-tweets">
                    <li class="list-item-tweet">
                        <span class="text"></span>
                        <span class="tweet-link">
                            <a href="">@</a>
                        </span>
                    </li>
                </ul>
            </section>
        </div>
    </div>

    <div>
        <article>
            <section>
                <header>
                    <h2>Tweets</h2>
                </header>

                <section class="nav">
                    <ul>
                    </ul>
                    <div class="clear"></div>
                </section>

                <section id="tweetsSections" class="categories">
                </section>
                <div class="clear"></div>

            </section>

        </article>
        
        <footer>
            <p><small>&copy; Copyright NimbleGecko 2010. All Rights Reserved.</small></p>
        </footer>

    </div>
<script>
    (function() {

        var socket = new io.Socket(null, {port: 8081, rememberTransport: false}),
            TweetModel = Backbone.Model.extend({
                            markAsRead: function() {
                                this.set({is_read: true});
                            }
                         }),

            Collection = Backbone.Collection.extend({
                            model: TweetModel,
                         }),

            View = Backbone.View.extend({

                templateElem: $('#sectionTemplate'),

                render: function() {
                    
                    var directives = {
                            'section' : {

                                'coll<-collections': {
                                    'header div.left h3': 'coll.attributes.0',
                                    'header div.right a.tiny-action@href+': 'coll.attributes.0',

                                    'ul li': {
                                        'tweet<-coll.attributes.1': {
                                            'span.text': 'tweet.escaped_text',
                                            'span.tweet-link a@href':
                                            'http://twitter.com/#{tweet.user.screen_name}/statuses/#{tweet.id_str}',
                                            'span.tweet-link a': '@#{tweet.user.screen_name}'
                                        }
                                    }
                                }
                            }
                        },
                        compiled = $p(this.templateElem).compile(directives);

                    $(this.el).html(compiled({collections: this.models.toArray()}));
                }
            }),
            ctrl;

        window.view = new View();

        function onTweetsLoaded(data, textStatus) {
            window.view.models = new Collection(data);
            window.view.render();
            $('#tweetsSections').replaceWith(window.view.el);
        }

        $(document).ready(
            function() {
                socket.on('message',
                    function() {
                        console.log(arguments);
                    }
                );
                socket.connect();
                socket.send({data: 'zomg wtf!'});

                var s = new
                $.ajax({
                    url: '/ajax/tweets',
                    error: function() {
                        console.log('ajax error');
                    },
                    success: onTweetsLoaded 
                });

            }
        );
        /*
        Controller = Backbone.Controller.extend({
            routes: {
                'home': 'home',
                'actions/mark-read/:id': 'markRead'
            },

            home: function() {
                console.log('home');
            },

            markRead: function(id) {
                console.log('Mark read: ' + id);
            }
        });

        ctrl = new Controller();

        $(document).ready(
            function() {
                Backbone.history.start();
            }
        );
        */

    })();
</script>

</body>
</html>
